{{< Layout}}
{{$ content }}
<div id="main-content">
    {{#valueSection1}}
    <div id="section1">
        {{#valueLogo}}
        <div id="logo">
            <img src={{valueLogo}}>
        </div>
        {{/valueLogo}}
        {{#valueTopDoctorText}}
        <div id="topDoctorText">
            {{valueTopDoctorText}}
        </div>
        {{/valueTopDoctorText}}
    </div>

    {{#valueSection2}}
    <div class="line">
        <hr>
    </div>
    {{/valueSection2}}
    {{/valueSection1}}

    {{#valueSection2}}
    <div id="section2">
        {{#valueGreetingText}}
        <div id="greetingText">
            {{valueGreetingText}}
        </div>
        {{/valueGreetingText}}

        {{#valueSection21}}
        <div class="aside">
            {{#valueDoctorImage}}
            <div id="doctorImage">
                <img src={{valueDoctorImage}}>
            </div>
            {{/valueDoctorImage}}
            {{# valueBottomDoctorText}}
            <div id="bottomDoctorText">
                {{valueBottomDoctorText}}
            </div>
            {{/ valueBottomDoctorText}}
        </div>
        {{/valueSection21}}
    </div>
    <div class="line">
        <hr>
    </div>
    {{/valueSection2}}

    {{#valueSection3}}
    <div id="section3">
        {{#valueSurgeryInfoText}}
        <div id="surgeryInfoText">
            {{valueSurgeryInfoText}}
            {{#valueContinuedSugeryInfo}}{{valueContinuedSugeryInfo}}{{/valueContinuedSugeryInfo}}
        </div>
        {{/valueSurgeryInfoText}}
    </div>
    {{#valueSection4}}
    <div class="line">
        <hr>
    </div>
    {{/valueSection4}}
    {{^valueSection4}}
    {{#valueSection5}}
    <div class="line">
        <hr>
    </div>
    {{/valueSection5}}
    {{/valueSection4}}
    {{/valueSection3}}


    {{#valueSection4}}
    <div id="section4">
        {{#valueSection4_LEFT}}
        <div class="box" id="section4_LEFT">
            <div class="boxBottomText">
                <div class="boxBottomText1" id="bottomText1">
                    {{#valueBottomText1}}
                       {{valueBottomText1}}
                    {{/valueBottomText1}}
                </div>
            </div>
            <div class="topImageHeader">
                <div class="boxBottomImageHeader" id="bottomImageHeader1">
                    {{#valueBottomImageHeader1}}
                       {{valueBottomImageHeader1}}
                    {{/valueBottomImageHeader1}}
                </div>
            </div>
            <div class="ImageHeader">
                <div class="boxBottomImage" id="bottomImage1">
                    {{#valueBottomImage1}}
                    <img src={{valueBottomImage1}}>
                    {{/valueBottomImage1}}
                </div>
            </div>
            <div class="bottomImageCaption">
                <div class="boxBottomImageCaption" id="boxBottomImageCaption">
                    {{#valueBottomImageCaption1}}
                    {{valueBottomImageCaption1}}
                    {{/valueBottomImageCaption1}}
                </div>
            </div>
        </div>
        {{/valueSection4_LEFT}}
        {{#valueSection4_RIGHT}}
        <div class="box" id="section4_RIGHT">
            <div class="boxBottomText">
                <div class="boxBottomText2" id="bottomText2">
                    {{#valueBottomText2}}
                    {{valueBottomText2}}
                    {{/valueBottomText2}}
                </div>
            </div>
            <div class="topImageHeader">
                <div class="boxBottomImageHeader" id="bottomImageHeader2">
                    {{#valueBottomImageHeader2}}
                    {{valueBottomImageHeader2}}
                    {{/valueBottomImageHeader2}}
                </div>
            </div>
            <div class="ImageHeader">
                <div class="boxBottomImage" id="bottomImage2">
                    {{#valueBottomImage2}}
                    <img src={{valueBottomImage2}}>
                    {{/valueBottomImage2}}
                </div>
            </div>
            <div class="bottomImageCaption">
                <div class="boxBottomImageCaption" id="bottomImageCaption2">
                    {{#valueBottomImageCaption2}}
                    {{valueBottomImageCaption2}}
                    {{/valueBottomImageCaption2}}
                </div>
            </div>
        </div>
        {{/valueSection4_RIGHT}}
    </div>

    {{#valueSection5}}
    <div class="line">
        <hr>
    </div>
    {{/valueSection5}}
    {{/valueSection4}}

    <div id="section5">
        {{#valueSelectedImages}}
        <div class="area">
            <img src={{valueImageName}}>
        </div>
        {{/valueSelectedImages}}
    </div>

</div>
{{/content }}
{{/ Layout}}
