<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">	
	<link rel="stylesheet" type="text/css" href="LetterPortrait.css">
</head>
<body>
	<div id="report">
		{{#PatientReport}}
		<div class="page" id ="firstPage">
			<div class="subpage">
				<section>
					{{#valueLogo}}
					<div id="logo_box">
						<img id="reportLogo" src={{valueLogo}}>
					</div>
					{{/valueLogo}}
					{{#valueTopDoctorText}}
					<div id="topDoctorText">
						{{{valueTopDoctorText}}}
					</div>
					{{/valueTopDoctorText}}
					
					{{#valueGreetingText}}
					<div id="greetingText">
						{{{valueGreetingText}}}
					</div>
					{{/valueGreetingText}}
					
					{{#valueDoctorImage}}
					<div id='topDoctorImageBox'>
						<img id="topDoctorImage" src={{valueDoctorImage}}>
					</div>
					{{/valueDoctorImage}}
					{{#valueBottomDoctorText}}
						<p id="bottomDoctorText">{{valueBottomDoctorText}}</p>
					{{/valueBottomDoctorText}}

					{{#valueSurgeryInfoText}}
					<div id="surgeryInfoText" class="text">{{valueSurgeryInfoText}}</div>
					{{/valueSurgeryInfoText}}

					<div id="bottomTextBox">
						{{#valueBottomText1}}
							<div class="bottomText text" id="bottomText1">{{valueBottomText1}}</div>
						{{/valueBottomText1}}
						
						{{#valueBottomText2}}
							<div class="bottomText text" id="bottomText2">{{valueBottomText2}}</div>
						{{/valueBottomText2}}
					</div>

					<div class="bottom">
						{{#valueBottomImageHeader1}}
							<p class="bottomImageHeader text" id="bottomImageHeader1">{{valueBottomImageHeader1}}</p>
						{{/valueBottomImageHeader1}}
						 
						{{#valueBottomImage1}}
						<div class='bottomImageBox'>
							<img class='bottomImage' id="bottomImage1" src={{valueBottomImage1}}>
						</div>
						{{/valueBottomImage1}}

						{{#valueBottomImageCaption1}}
							<p class="bottomImageCaption text" id="bottomImageCaption1">{{valueBottomImageCaption1}}</p>
						{{/valueBottomImageCaption1}}
					</div>

					<div class="bottom">
						{{#valueBottomImageHeader2}}
						<p class="bottomImageHeader text" id="bottomImageHeader2">{{valueBottomImageHeader2}}</p>
						{{/valueBottomImageHeader2}}

						{{#valueBottomImage2}}
						<div class="bottomImageBox">
							<img class='bottomImage' id="bottomImage2" src={{valueBottomImage2}} >
						</div>
						{{/valueBottomImage2}}
						{{#valueBottomImageCaption2}}
							<p class="bottomImageCaption text" id="bottomImageCaption2">{{valueBottomImageCaption2}}</p>
						{{/valueBottomImageCaption2}}
					</div>

				</section>
				<p class="line">Page <span class="pageNumber"></span> / <span class="allPage"></span></p>
			</div>
		</div>
		{{/PatientReport}}

		<!-- From here page 2,3,4,5 ... -->
		<div id="otherPages">
			<div class="page">
				<div class="subpage">
					<div class="doctorInfo">
						<div>
							{{#reportLine1}}<p>{{reportLine1}}</p>{{/reportLine1}}
							{{#reportLine2}}<p>{{reportLine2}}</p>{{/reportLine2}}
							{{#reportLine3}}<p>{{reportLine3}}</p>{{/reportLine3}}
							{{#reportLine4}}<p>{{reportLine4}}</p>{{/reportLine4}}
						</div>
						<div>
							{{#reportLine5}}<p>{{reportLine5}}</p>{{/reportLine5}}
							{{#reportLine6}}<p>{{reportLine6}}</p>{{/reportLine6}}
						</div>
						{{#reportLogo}}
						<div><img src={{reportLogo}}></div>
						{{/reportLogo}}
					</div>
					<div class="image_box">
						<div class="image_info">
							<img src="" class="image">
							<p class="title"></p>
						</div>
					</div>
					<p class="line">Page <span class="pageNumber"></span> / <span class="allPage"></span></p>
				</div>
			</div>
		</div>



		<!-- LAST PAGE / LAST PAGE / LAST PAGE / LAST PAGE -->
		<div id="lastPage" class="page ">
			<div class="subpage">
				<pre>
					Congratulations, you have just completed the surgical phase and entered the recovery/rehabilitation phase of your operative experience.
					Please follow the post operative instructions below to ensure an optimal recovery.
					
					General Information:
					If any unexpected problems occur, please call our office.
					You should have someone assist you for the next few days.
					Anesthesia effects can be felt for over 36 hours.
					We reviewed your surgical findings with you in the recovery room, it is not unusual that you may not remember this. We will discuss your surgical findings at your follow up appointment. If you have not already scheduled your follow up appointment, please do so.
					
					Dressings:
					A clean and sterile dressing was placed on your wounds. You may remove this 48 hours after surgery. Place Band-Aids over your small wounds and sutures. Replace these daily. Keep your dressings clean and dry during the first 2 days. Keep wounds clean and dry until your sutures are removed. If you cover these and keep them dry, you may shower.
					
					Activity:
					Please follow the Post Operative activity instructions you have been given.
					
					Diet:
					Your regular diet is recommended
					
					Medication:
					You have received a prescription for pain medication. Please follow the pain medication plan discussed. Generally you can expect significant pain improvement by post-op day 3.
					
					Questions;
					You may call the office, we will assist you. If you experience fever/chills, excessive bleeding, shortness of breath, chest pain, redness around wounds, nausea or vomiting, please go to the Emergency Room.
				</pre>
				<p class="line">Page <span class="pageNumber"></span> / <span class="allPage"></span></p>
			</div>
		</div>	

	</div> <!-- End of report -->

	<script src="jquery-3.2.1.slim.min.js"></script>
	<script type="text/javascript" src="LetterPortrait.js"></script>
	<script>
		const data = {{{images}}};
		getImage(data, {{imagesPerPage}});
	</script>
</body>
