@font-face
{
    font-family: 'Roboto-Regular';
    src: local('Roboto-Regular'),url('Roboto-Regular.ttf');
}
* {
	box-sizing: border-box ;
	margin: 0 ;
	padding: 0 ;
	font-family: "Arial";
	font-size: 16px;
}
.page {
    width: 215.9mm;
    height: 279.4mm;
    padding: 15mm;
    margin: 10mm auto;
    border: 1px #D3D3D3 solid;
    border-radius: 5px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    page-break-after: always;
}
.subpage {
	height: 249mm;
	/*outline: 15mm #FFEAEA solid;*/
}
p {
	text-align: center;
}
.line{
	border-top: 1px solid black;
	padding-top: 10px;
}
.image_box {
	width: 100% ;
	height: 768px;
	display: table-cell ;
	text-align: center ;
	vertical-align: middle
}
.image_info {
	display: inline-block ;
}
img {
	width: 100% ;
}
.image{
	margin-bottom: 1%;
}
.displayNone {
	display: none
}
.displayBlock {
	display: block
}
.b2 {
	width: 72%;
    margin: 1.4%;
}
.b3 {
	width: 48%;
    margin: 6% 1%;
}
.b5 {
	width: 48%;
    margin: 0% 1%;
}
.b7 { 
	width: 32%;
    margin: 4% 0.65%;
}
.b10 { 
	width: 32%;
    margin: 1.1% 0.65%;

}
@page {
	size: letter ;
	margin: 0 
}
@media print {
	html , body {
		width: 215.9mm ; 
		height: 279.4mm 
	}
	.page {
		margin: 0; 
		page-break-after: always; 
	}
}

/* FIRST PAGE / FIRST PAGE / FIRST PAGE / FIRST PAGE / FIRST PAGE / FIRST PAGE */
section{
	height: 906px;
	overflow:hidden;
}

#logo_box {
	width: 450px ;
	height: 125px ;
	background: white;
	padding: 2%;
	display: flex;
	justify-content: center;
	align-items: center;
	float: left;
	margin-bottom: 3px; 
}
#reportLogo{
	width: auto;
	max-width: 100%;
 /* 	height : auto;
  	max-height: 100%;*/
}
#topDoctorText {
	width: 220px ;
	height: 125px ;
	border: 1px solid #f89828;
	float: right;
	padding: 10px;
	margin-bottom: 3px; 
	background: #f89828;
	color :white;
	margin-left:6px; 
}
#greetingText {
	width: 474px;
	height: 280px ;
	border: 1px solid #f89828;
	float: left;
	padding: 10px;
	margin: 3px 0;
}
#topDoctorImageBox{
	width: 220px;
	height: 233px ;
	border: 1px solid #f89828;
	float: right;
	margin: 3px 0 3px 6px;
	padding: 1px;
	background: white;
	display: flex;
}
#bottomDoctorText {
	width: 220px;
	border: 1px solid #f89828;
	float: right;
	padding: 10px;
	margin: 3px 0;
	background: #f89828;
	color :white
}
#surgeryInfoText {
	width: 100%;
	border: 1px solid #f89828;
	padding: 10px;
	margin: 3px 0;
	float: left;
	max-height: 136px;
    overflow: hidden;
}
#bottomTextBox{
	width: 100%;
	float: left;
}
.bottomText {
	border: 1px solid #f89828;
	width: 47%;
	padding: 10px;
	float: left;
	margin: 3px 0;
	max-height: 136px;
    overflow: hidden;
}
#bottomText2 {
	float: right;

} 
.bottom {
	width: 47%;
	float: left;
	text-align: center;
}
.bottom:last-child {
	float: right;

}
.bottomImageHeader {
	border: 1px solid #f89828;
	padding: 10px;
	margin: 3px 0;
	background: #f89828;
	color :white;
	display: inline-block;
}
.bottomImageBox {
	border: 1px solid #f89828;
	width: 99px;
	height: 107px;
	margin: 3px 25%;
    display: inline-flex;
    padding: 1px;
    background: white;
}
.bottomImageCaption {
	padding: 10px;
	background: #f89828;
	color :white;
	display: inline-block;
	margin-top: 3px 
}

/* SECOND PAGE / SECOND PAGE / SECOND PAGE / SECOND PAGE / SECOND PAGE / SECOND PAGE / SECOND PAGE */


.doctorInfo {
	width: 100%;
	height: 143px;
	background: #CBD2E4;
	border-radius:10px; 
	/*font-weight: bold;*/
}
.doctorInfo p {
	text-align: left;
	padding: 8px 0 8px 20px;
}
.doctorInfo div:nth-child(1){
	width: 30%; 
	height: 100%;
	float: left;
}
.doctorInfo div:nth-child(2){
	width: 36%; 
	height: 100%;
	padding-top: 33px;
	float: left;
}
.doctorInfo div:nth-child(3){
	width: 34%; 
	height: 100%;
	padding-right: 10px;
	float: left;
	display: flex;
	align-items:center;
}

/* LAST PAGE / LAST PAGE / LAST PAGE / LAST PAGE / LAST PAGE / LAST PAGE / LAST PAGE / LAST PAGE */

pre {
    white-space: pre-line;
    height: 906px;
}

























