@page  {
    size: 8.5in 11in;
    margin: 0.5in 0in 0.5in 0.5in;
    color: black;
    font-family: 'myFirstFont;';
    font-size: 13px;
    background-color: white;
    /*counter-increment: page;*/
    /*counter-reset: page 0;*/
    @bottom-center {
        counter-increment: page;
        counter-reset: page 1;
        content: counter(page) " of " counter(pages);
    }
}
@font-face {
    font-family: myFirstFont;
    src: url(../font/Roboto-Regular.ttf);
}
*{
    box-sizing: border-box;
}
body{
    background-color: white;
    color: black;
    font-family: 'roboto';
    font-size: 13px;
    
}
#main-content{
    width: 8in;
    background-color:white;
    overflow: hidden;
}
#section1{
    height: 1.375in;
}
#section2{
    height: 4.125in;
}
#logo{
    float: left;
    width: 5in;
    height: 1.375in;
}
#logo img{
    width: 5in;
    height: 1.375in;
    margin-right: 0.125in;
}
#greetingText{
    float: left;
    width: 5in;
    height: 4in;
    margin-top: 0.125in;
    overflow:hidden;
}
#greetingText font{
    max-height: 384px;
    /*text-align: justify;*/
}

.text{
    display: -webkit-box;
    max-width: 100%;
    margin: 0;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0px 5px 0px 5px;
}
.aside{
    float: right;
    width: 3in;
    height: 4.125in;
}
#topDoctorText{
    float: right;
    width: 2.75in;
    height: 1.375in;
    margin-right: 0.125in;
    line-height: 1.075;
    overflow:hidden;
}
.text {
    display: -webkit-box;
    max-width: 100%;
    font-size: 12px;
    overflow: hidden;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0px 5px 0px 5px;
}
#topDoctorText p{
    margin: 0px;
}
#doctorImage{
    float: right;
    width: 2.75in;
    height: 3in;
    text-align: center;
    margin-top: 0.125in;
    margin-left: 0.125in;
    margin-right: 0.125in;
    border: 1.5px solid #636363;
}
#doctorImage img{
    display: block;
    margin: 0 auto;
    max-height: 3in;
    width: 100%;
    height: 100%;
    background-color: #d0d0d0;
}
#bottomDoctorText{
    float: right;
    width: 2.75in;
    height: 0.875in;
    margin-right: 0.125in;
    margin-top: 0.125in;
    overflow:hidden;
}
#bottomDoctorText p{
    max-height: 80px;
}
#bottomDoctorText font{
    max-height: 84px;
}

hr{
    position: relative;
    color: black;
    height: 2px;
    margin-right: 0.125in;
    margin-top: 0.125in;
}
#surgeryInfoText{
    margin-right: 0.125in;
    margin-bottom: 0.125in;
    width: 7in;
    text-align: justify;
    padding: 0px 10px 0px 10px;
    /*color: #3c0101;*/
    font-size: 13px;
}
#section3{
    margin-top: 0.125in;
    min-height: 0px;
}
#section5{
    margin-left: 0.25in;
}
.area{
    position: relative;
    float: left;
    width: 30%;
    height: 2.1875in;
    text-align: center;
    margin-top: 0.25in;
    margin-right: 0.25in;
}
.area img{
    width: 100%;
    height: 100%;
    max-height: 2.1875in;
}
#section4{
    margin-top: 0.125in;
    margin-right: 0.125in;
    overflow: hidden;
}
.box{
    position: relative;
    width: 47.7%;
    float: left;
    margin-left: 0.125in;
}
.box_Modify{
    width: 100%;
    float: left;
    margin: 0;
}
.boxBottomText{
    width: 100%;
    height: 1.5in;
    float: left;
    margin-bottom: 0.125in;
    overflow:hidden;
}
.boxBottomText font{
    max-height: 1.375in;
}
.boxBottomImageHeader{
    width: 100%;
    height: 0.75in;
    float: left;
    margin-bottom: 0.125in;
    overflow:hidden;
}
.boxBottomImageHeader font{
    max-height: 0.5in;
}
.boxBottomImage{
    width: 100%;
    height: 2in;
    display: inline-block;
    float: left;
    text-align: center;
    margin-bottom: 0.125in;
}
.boxBottomImage img{
    max-height: 100%;
    max-width: 100%;
}
.boxBottomImageCaption{
    width: 100%;
    height: 1in;
    float: left;
    font-style: italic;
    text-align: center;
    overflow:hidden;
}
.boxBottomImageCaption font{
    max-height: 0.75px;
}

